@font-face {
    font-family: 'marielle';
    src: url('../fonts/marielle.otf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Theonory';
    src: url('../fonts/TheonoryFreeVersionRegular-gxg03.ttf') format('truetype');
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap'); 