/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base styles */
:root {
    --primary-color: #3C3C3C;
    --secondary-color: #7E6D4B;
    --accent-color: #7E6D4B;
    --background-color: #FFFFFF;
    --text-light: #5B4029;
    --spacing-unit: 2rem;
    --font-primary: 'Inter', sans-serif;
    --font-secondary: 'Theonory', serif;
    --font-decorative: 'marielle', cursive;

    /* Colors */
    --color-primary: #584828;
    --color-secondary: #7E6D4B;
    --color-accent: #517237;
    --color-background: #F8F7F3;
    --color-white: #FFFFFF;
    --color-text-light: #545454;
    
    /* Spacing */
    --spacing-unit: 20px;
}

body {
    font-family: 'Theonory', serif;
    color: var(--primary-color);
    line-height: 1.6;
}